.service-tab
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &__text
        min-height: 70px
        margin-bottom: 1rem
        display: flex
        justify-content: center
        align-items: flex-start

        @media only screen and (min-width: 900px) and (max-width: 1100px)
            height: 140px

    &__title
        @include desktop
            height: 60px
        @include widescreen
            height: auto

    &__icon
        color: white

    &__button
        border-radius: 10px
