.footer
    background-color: $orange

    &__main, &__left, &__right
        height: 100%
        color: $dark-blue

    &__main
        display: flex
        justify-content: space-between
        align-items: center

    &__left
        font-size: 1rem
        @include mobile
            font-size: 0.75rem
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        text-align: left

    &__right
        display: flex
        justify-content: center
        align-items: center
